.App {
  border: solid black;
  margin: 4em auto;
  width: 980px;
  height: 630px;
  text-align: center;
}
/*---------------------------------------------- Home */
.homebase{
  position: relative;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.backImg{
  opacity: .6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.statsWindow{
  /* border:solid red; */
  height: 5%;
}
.gameWindow{
  /* border: solid indigo; */
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.messageWindow{
  /* border: solid orangered; */
  height: 25%;
}
.homeOptions{
  background-color: rgba(250, 235, 215, 0.745);
  border: solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
}
.options{
  border-radius: 10px;
  background-color: white;
  width: 100px;
  height: 80px;
}
.options:hover{
  background-color: lightgray;
  cursor: pointer;
}
